@{
    ViewBag.Title = "About";
}
<a class=" btn btn-primary" href="https://localhost:44389/Home/Index">Index</a>
<a class=" btn btn-dark" href="https://localhost:44389/Home/Contact">Contact <br /> Information</a>
<a class=" btn btn-danger" href="https://localhost:44389/Home/Education">Education</a>
<h1>@ViewBag.Message</h1>
<ul>
    a statement that tells you how something or someone looks, sounds, etc.
    words that describe something or someone. [count] Reporters called the
    scene “a disaster area,” and I think that was an accurate description.
    I applied for the position after reading the job description.
</ul>




