@model AR.Models.Company
@{
    ViewBag.Title = "Company";
}
<a class=" btn btn-primary" href="https://localhost:44389/Home/Index">Index</a>
<a class=" btn btn-dark" href="https://localhost:44389/Home/Contact">Contact <br /> Information</a>
<a class=" btn btn-danger" href="https://localhost:44389/Home/Education">Education</a>

<h2>@Model.Name</h2>
<h2>@Model.Email</h2>
<h2>@Model.Address</h2>
<h2>@Model.Descr</h2>

