@{
    ViewBag.Title = "Contact";

}
<a class=" btn btn-primary" href="https://localhost:44389/Home/Index">Index</a>
<a class=" btn btn-dark" href="https://localhost:44389/Home/Contact">Contact <br /> Information</a>
<a class=" btn btn-danger" href="https://localhost:44389/Home/Education">Education</a>
<a class="btn btn-warning" href="/Profile/signup">Sign Up</a>


<h2>Contact Page</h2>
<h1></h1>


