@{
    ViewBag.Title = "Home Page";
}
<a class=" btn btn-primary" href="https://localhost:44389/Home/Index">Index</a>
<a class=" btn btn-dark" href="https://localhost:44389/Home/Contact">Contact <br /> Information</a>
<a class=" btn btn-danger" href="https://localhost:44389/Home/Education">Education</a>


<h1>@ViewBag.Name</h1>
<h1>@ViewBag.Id</h1>
<h1>@ViewBag.Email</h1>
<h1>@ViewBag.Contact_no</h1>
